#cs-header {
  height: auto;
  width: 100%;
}
#cs-appearance {
  min-height: 300px;
  width: 100%;
}
#cs-backstory {
  height: auto;
  width: 100%;
  margin-top: 30px;
}
#cs-traits {
  height: auto;
  width: 515px;
}
#cs-allies {
  position: absolute;
  height: auto;
  width: 515px;
}
#cs-treasure {
  height: auto;
  width: 515px;
}

.hexagon-button {
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  background-image: radial-gradient(
    200% 70% at center 20%,
    rgba(217, 119, 119, 1) -30%,
    rgba(219, 123, 121, 1) 49%,
    rgba(192, 103, 103, 1) 50%,
    rgba(192, 103, 103, 1) 150%
  );
  border: 0 !important;
  color: black !important;
  bottom: 0px;
  height: 2em;
  justify-content: center;
  margin: 5px !important;
}

#left-header {
  display: flex !important;
  position: relative;
  align-self: center !important;
  justify-items: center;
}

#right-header {
  position: relative;
  margin: 0 auto;
  font-size: 2.5em;
}

.cs-text {
  font-size: 90% !important;
  line-height: 180% !important;
}

#flex-fix {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-container {
  position: absolute;
  width: 80%;
  align-self: center;
  justify-self: center;
  display: flex;
  margin-top: -11%;
  min-height: 60px;
}
#right-margin {
  margin-top: 1.5%;
}

.right-text {
  display: flex;
  margin-bottom: 5% !important;
  margin-top: 2% !important;
}
#treasure-containers {
  position: relative;
  margin-bottom: 100px;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#char-name {
  font-size: 2em !important;
}

.trait-text {
  margin-left: 11% !important;
  font-size: 40% !important;
  animation: appear 5s both, shimmer 2s infinite !important;
  background-repeat: no-repeat;
  background-position: -4rem top;
  background-size: 125px 100% !important;
  background-clip: text;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: #d97777 -webkit-gradient(linear, 100% 50, 0 0, from(#d97777), color-stop(0.5, #f7be5c), to(#d97777));
  -webkit-background-size: 4rem 100%; /*50px*/
  color: black;
  /* text-shadow: rgb(190, 148, 44) 1px 0 15px !important; */
}
.trait-items {
  justify-content: flex-end !important;
}
/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
@keyframes appear {
  0% {
    text-shadow: 0 0 40px #cbc7c7;
    opacity: 0;
  }
  to {
    text-shadow: 0 0 20px #cbc7c7;
    opacity: 100;
  }
}

@keyframes shimmer {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

.trait-items {
  padding: 10px;
  position: relative;
  justify-content: flex-end;
}

#full-header-container {
  padding: 0;
}

.text-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.appearance-text {
  font-size: 1.5em !important;
  text-indent: 1em;
}

.header-buttons {
  position: absolute;
  text-wrap: nowrap;
}

#appearance-trait {
  position: absolute;
  top: 5%;
  width: 270px;
  font-size: 0.4rem;
  height: 275px;
  overflow-y: scroll;
}

#appearance-container {
  height: 300px;
  width: 285px;
}

.backstory-text {
  font-size: 1.5em !important;
  text-indent: 1em;
}

#backstory-trait {
  position: absolute;
  top: 545px;
  width: 270px;
  font-size: 0.4rem;
  height: 90%;
  overflow-y: scroll;
}
#treasure-uls {
  position: absolute;
  top: 60px;
}

#backstory-container {
  margin-top: 175px;
  height: auto;
  width: 285px;
}
#inner-left {
  font-size: 1.5em !important;
  text-indent: 1em;
}

#inner-right {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#allies-trait {
  position: relative;
  left: 0;
  top: 0;
  font-size: 0.4rem;
  height: 275px;
  overflow-y: scroll;
}

#allies-container {
  font-size: 0.4em !important;
  position: relative;
  width: 515px;
  height: 350px;

  align-items: center;
  align-content: center;
  justify-content: center;
}

#allies-logos {
  width: 125px;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.allies-logo {
  width: 70px;
  height: auto;
}

#right-rolls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 515px;
  position: relative;
  bottom: -400px;
  margin-bottom: 50px;
  height: 50px;
  top: 50px;
}

#allies-rolls {
  flex-wrap: wrap;
  align-content: space-around;
  top: 350px;
  position: absolute;
  width: 515px;
}

#allies-name {
  font-size: 1.5em !important;
  position: absolute;
  top: 50px;
  margin-left: 0 !important;
}

#allies-text {
  font-size: 2em !important;
  height: 100%;
  position: relative;
  left: -25px;
}

#edx {
  position: relative;
  top: -50px;
}

.individual-rolls {
  position: relative;
  display: flex;
  top: 30px;
  margin-bottom: 5%;
  align-items: center;
  justify-content: space-around;
}

#allies-rolls {
  flex-wrap: wrap;
  align-content: space-around;
  position: absolute;
  width: 515px;
}

#treasure-rolls {
  width: 515px;
}

#right-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#trait-containers {
  position: relative;
  margin-top: 50px;
}

#cs-traits-list {
  position: absolute;
  top: 7%;
  width: 100%;
  font-size: 2.5em !important;
}

#treasure-uls {
  justify-content: space-around;
  width: 515px;
}

#treasure-lists {
  position: absolute;
  top: 9%;
  left: auto;
  font-size: 2.4em;
  width: 60%;
}

#traits-list {
  display: flex;
  flex-wrap: wrap;
}

#traits-left li,
#traits-right li {
  margin-top: 6%;
}

#trait-fix {
  position: relative;
  margin-top: 50px !important;
}

/* ****************************** */
/*         Media Queries          */
/* ****************************** */

/* Laptop */
@media screen and (max-width: 900px) {
  #text-adventure {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  #right-container {
    position: relative;
    margin-top: 250px;
  }
  #header-rolls {
    margin-bottom: 45px;
  }
  .individual-rolls {
    margin-bottom: 20%;
  }

  #right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* iPads and Tablets */
@media screen and (max-width: 671px) {
  #left-container {
    width: 400px;
    flex-direction: column;
  }
  #right-container {
    margin-left: 0px;
    margin-top: 0px;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  #full-header-container {
    display: flex;
    flex-direction: column;
  }

  #header-container {
    font-size: 0.5em;
    position: relative;
    top: -15px;
  }

  #allies-container {
    margin-top: 40px;
    width: auto;
  }

  .img-containers {
    height: auto;
    width: 100% !important;
  }

  #cs-backstory {
    height: 500px;
  }

  .individual-rolls {
    width: 300px !important;
  }

  .trait-items {
    display: flex;
    flex-direction: column;
  }

  #flex-fix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #header-rolls {
    flex-wrap: wrap;
  }

  #allies-logos {
    width: 85%;
  }

  #full-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #allies-name {
    top: 50px;
  }

  .allies-logo {
    width: 50% !important;
  }

  #trait-fix {
    margin-top: 50px;
    display: flex !important;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  #treasure-uls {
    position: absolute;
    top: 25px;
    width: 95% !important;
    flex-wrap: nowrap;
    align-items: center;
  }

  #text-adventure {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #backstory-trait {
    height: 450px;
  }
  #flex-fix {
    margin-bottom: 0px !important;
  }
  #cs-traits {
    font-size: 0.7em;
  }
  #treasure-lists {
    font-size: 0.7em;
    width: 90%;
  }
}
