#cs-header {
  height: auto;
  width: 100%;
  margin-top: 25px;
}
#cs-appearance {
  min-height: 300px;
  width: 100%;
}
#cs-backstory {
  height: auto;
  width: 100%;
  margin-top: 30px;
}
#cs-traits {
  height: auto;
  width: 515px;
}
#cs-allies {
  position: absolute;
  height: auto;
  width: 515px;
}
#cs-treasure {
  height: auto;
  width: 515px;
}

#text-adventure {
  align-items: center;
  margin-bottom: 15% !important;
  margin-top: 25%;
}

.hexagon-button {
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  background-image: radial-gradient(
    200% 70% at center 20%,
    rgb(151, 139, 67) -30%,
    rgb(63, 43, 10) 49%,
    rgb(94, 53, 15) 50%,
    rgb(53, 30, 30) 150%
  );
  border: 0 !important;
  color: white !important;
  bottom: 0px;
  height: 2em;
  justify-content: center;
  margin: 5px !important;
}

#left-header {
  display: flex !important;
  position: relative;
  align-self: center !important;
  justify-items: center;
}

#right-header {
  position: relative;
  margin: 0 auto;
  font-size: 2.5em;
}

#panda-img {
  height: 60% !important;
}

.cs-text {
  font-size: 90% !important;
  line-height: 180% !important;
}

#flex-fix {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  width: 80%;
  align-self: center;
  justify-self: center;
  display: flex;
  margin-top: -19%;
  min-height: 60px;
}
#right-margin {
  margin-top: 11%;
}

.right-text {
  display: flex;
  margin-bottom: 5% !important;
  margin-top: 2% !important;
}
#treasure-containers {
  position: relative;
  margin-bottom: 100px;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#char-name {
  font-size: 2em !important;
  margin-left: -20% !important;
  margin-top: 35%;
}
.trait-items {
  justify-content: flex-end !important;
}

.trait-text {
  margin-left: 11% !important;
  font-size: 40% !important;
  position: relative;
  color: black !important;
  animation: appear 5s both, shimmer 10s linear infinite !important;
  background-repeat: no-repeat;
  background-position: -4rem top;
  background-image: linear-gradient(
    90deg,
    transparent 25%,
    #e0e0e0 50%,
    transparent 75%
  );
  background-size: 200% 100%;
  background-clip: text;
}

@keyframes appear {
  0% {
    text-shadow: 0 0 40px #cbc7c7;
    opacity: 0;
  }
  to {
    text-shadow: 0 0 20px #cbc7c7;
    opacity: 100;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.trait-items {
  padding: 10px;
  position: relative;
  justify-content: flex-end;
}

#full-header-container {
  padding: 0;
}

.text-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.appearance-text {
  font-size: 1.5em !important;
  text-indent: 1em;
}

.header-buttons {
  position: absolute;
  text-wrap: nowrap;
}

#appearance-trait {
  position: absolute;
  top: 11%;
  width: 100%;
  font-size: 0.4rem;
  height: 275px;
  overflow-y: scroll;
}

#appearance-container {
  margin-top: 175px;
  height: auto;

  margin-top: 40px;
  width: 100% !important;

  font-size: 0.4em !important;
  position: relative;

  align-items: center;
  align-content: center;
  justify-content: center;
}

.backstory-text {
  font-size: 1.5em !important;
  text-indent: 1em;
}

#backstory-trait {
  position: absolute;
  top: 9% !important;
  width: 100%;
  font-size: 0.4rem;
  height: 90%;
  overflow-y: scroll;
}
#treasure-uls {
  position: absolute;
  top: 60px;
}

#backstory-container {
  height: auto;

  width: 100% !important;

  font-size: 0.4em !important;
  position: relative;

  align-items: center;
  align-content: center;
  justify-content: center;
}

#inner-left {
  font-size: 1.5em !important;
  text-indent: 1em;
}

#inner-right {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#allies-trait {
  position: relative;
  left: 0;
  top: 0;
  font-size: 0.4rem;
  height: 275px;
  overflow-y: scroll;
}

#allies-container {
  font-size: 0.4em !important;
  position: relative;
  width: 515px;
  height: 350px;
  margin-bottom: -47% !important;
  margin-top: -47% !important;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#allies-logos {
  width: 125px;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.allies-logo {
  width: 70px;
  height: auto;
}

#right-rolls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 515px;
  position: relative;
  bottom: -400px;
  margin-bottom: 50px;
  height: 50px;
  top: 50px;
}

#allies-rolls {
  flex-wrap: wrap;
  align-content: space-around;
  top: 350px;
  position: absolute;
  width: 515px;
}

#allies-name {
  font-size: 1.5em !important;
  position: absolute;
  top: 50px;
  margin-left: 0 !important;
}

#allies-text {
  font-size: 2em !important;
  height: 100%;
  position: relative;
  left: -25px;
}

#name {
  text-align: center;
  font-size: 1em;
  margin-left: 5%;
  margin-top: -4%;
}

#edx {
  left: 58%;
  position: absolute;
  top: 24%;
}

.individual-rolls {
  position: relative;
  display: flex;
  top: 30px;
  margin-bottom: 5%;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
  text-align: center;

  align-content: center;
}

#allies-rolls {
  flex-wrap: wrap;
  align-content: space-around;
  position: absolute;
  width: 515px;
}

#treasure-rolls {
  width: 515px;
}

#right-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#trait-containers {
  position: relative;
  margin-top: 50px;
}

#cs-traits-list {
  position: absolute;
  top: 7%;
  width: 100%;
  font-size: 2.5em !important;
}

#treasure-uls {
  justify-content: space-around;
  width: 515px;
}

#treasure-lists {
  position: absolute;
  top: 9%;
  left: auto;
  font-size: 2.4em;
  width: 90%;
}

#traits-list {
  display: flex;
  flex-wrap: wrap;
}

#traits-left li,
#traits-right li {
  margin-top: 6%;
}

#trait-fix {
  position: relative;
  margin-top: 0px !important;
}

#right-margin {
  font-size: 0.5em;
}
#full-grid {
  justify-content: space-around;
}

/* ****************************** */
/*         Media Queries          */
/* ****************************** */

/* Laptop */
@media screen and (max-width: 1199px) {
  #treasure-lists {
    width: 60% !important;
    top: 5% !important;
  }
  #appearance-trait {
    top: 7% !important;
  }
  #backstory-trait {
    top: 9% !important;
  }
  #allies-text {
    margin-left: 20% !important;
  }
}

/* Laptop */
@media screen and (max-width: 900px) {
  #right-container {
    position: relative;
  }
  #header-rolls {
    margin-bottom: 45px;
  }
  .individual-rolls {
    margin-bottom: 20%;
  }
  .trait-items {
    margin-left: -2% !important;
    margin-top: -4% !important;
  }
  #name {
    margin-top: -6% !important;
  }
  #right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #treasure-lists {
    top: 6% !important;
    font-size: 2rem;
    width: 80%;
  }
  #text-adventure {
    margin-top: 15% !important;
  }
}

/* iPads and Tablets */
@media screen and (max-width: 671px) {
  #name {
    margin-top: -1% !important;
    margin-left: 0% !important;
  }
  #twou {
    width: 30% !important;
    margin-right: -38% !important;
  }
  #right-margin {
    margin-top: 15% !important;
  }
  #left-container {
    width: 400px;
    flex-direction: column;
  }
  #right-container {
    margin-left: 0px;
    margin-top: 0px;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  #full-header-container {
    display: flex;
    flex-direction: column;
  }

  #header-container {
    font-size: 0.5em;
    position: relative;
    top: -15px;
  }

  #allies-container {
    width: 100% !important;
  }

  .img-containers {
    height: auto;
    width: 100% !important;
  }

  #cs-backstory {
    height: 500px;
  }

  .individual-rolls {
    width: 90%;
  }

  .trait-items {
    display: flex;
    flex-direction: column;
  }

  #flex-fix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #header-rolls {
    flex-wrap: wrap;
    align-self: center;
    text-align: center;
  }

  #allies-logos {
    width: 85%;
  }

  #full-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #allies-name {
    top: 12% !important;
  }

  .allies-logo {
    width: 16% !important;
    top: 28% !important;
  }

  #trait-fix {
    margin-top: 50px;
    display: flex !important;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  #treasure-uls {
    position: absolute;
    top: 25px;
    width: 95% !important;
    flex-wrap: nowrap;
    align-items: center;
  }

  #text-adventure {
    margin-top: 38px;
    margin-bottom: 10px;
  }

  #backstory-trait {
    height: 450px;
  }
  #flex-fix {
    margin-bottom: 0px !important;
  }
  #cs-traits {
    font-size: 0.7em;
  }
  #treasure-lists {
    font-size: 1.5em;
    width: 90%;
  }
  #edx {
    top: 32% !important;
  }
  #appearance-fix {
  }
}

/* Phones */
@media screen and (max-width: 550px) {
  #edx {
    top: 36% !important;
  }
  #right-margin {
    font-size: 0.5rem;
    margin-top: 20% !important;
  }
  .trait-text {
    margin-left: 15% !important;
    font-size: 0.3rem !important;
  }
  #name {
    margin-top: -1% !important;
  }
  #treasure-lists {
    font-size: 2rem !important;
  }
  #treasures {
    font-size: 0.5rem !important;
  }
  #allies-text {
    font-size: 0.6rem !important;
  }
  #allies-name {
    top: 20% !important;
  }
}

/* Why does anyone own a phone this small */
@media screen and (max-width: 375px) {
  #name {
    font-size: 0.3rem !important;
    margin-top: -5% !important;
  }
  #right-margin {
    font-size: 0.3rem;
    margin-top: 13% !important;
  }
  #treasures {
    font-size: 0.3rem !important;
  }
  #allies-text {
    font-size: 0.5rem !important;
  }
  #allies-name {
    top: 25% !important;
  }
  #edx {
    top: 40% !important;
  }
  #twou {
    width: 30% !important;
  }
}
