.cardContainer img {
  min-width: 100%;
  max-width: 100%;
  min-height: 230px;
  max-height: 230px;
  position: relative;
  top: 0px;
  align-self: center;
}

#card-buttons {
  display: flex;
  justify-items: flex-end;
  justify-content: space-around;
}

.cardContainer {
  margin-left: 8px;
  margin-right: 8px;
  max-height: 600px !important;
}

#technologies-li #text {
  display: flex;
  flex-direction: column;
}

.cardContent {
  padding-bottom: 9px;
  max-height: 600px !important;
}
