.cardContainer img {
  min-width: 100%;
  max-width: 100%;
  max-height: 400px;
  position: relative;
  top: 0px;
}

#card-buttons {
  display: flex;
  justify-items: flex-end;
  justify-content: space-around;
}

.cardContainer {
  margin-left: 8px;
  margin-right: 8px;
  max-height: 626px !important;
  border-radius: 30px !important;
}

#technologies-li #text {
  display: flex;
  flex-direction: column;
}

#tech-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.tech-li {
  display: flex;
  text-wrap: nowrap;
}
.cardContent {
  padding-bottom: 9px;
  flex-basis: fit-content;
  border-radius: 30px !important;
}

.MuiCardContent-root {
  min-height: 280px !important;
  flex-basis: fit-content;
  padding-bottom: 0px !important;
  border-radius: 30px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.MuiCardMedia-img {
  height: 225px !important;
  border-radius: 30px !important;
}

@media screen and (max-width: 768px) {
  .MuiCardContent-root {
    height: 460px !important;
    flex-basis: fit-content;
  }
}
