/* pirate styles */

#pirate-z {
  width: 14rem;
  height: 28rem;
  position: absolute;
  bottom: -43em;
  right: -82em;
}

.pirate {
  width: 100%;
  height: 100%;
}

/* ****************************** */
/*         Media Queries          */
/* ****************************** */

/* xs, extra-small: 0px
sm, small: 600px
md, medium: 900px
lg, large: 1200px
xl, extra-large: 1536px */

/* xs, extra-small: 0px and up */
@media (min-width: 0px) {
  /* Styles for extra-small screens and up */
  #pirate-z {
    bottom: -61em;
    right: -42em;
  }
}

/* sm, small: 600px and up */
@media (min-width: 600px) {
  /* Styles for small screens and up */
  #pirate-z {
    bottom: -55em;
    right: -39em;
  }
}

/* md, medium: 900px and up */
@media (min-width: 900px) {
  /* Styles for medium screens and up */
  #pirate-z {
    bottom: -46em;
    right: -56em;
  }
}

/* lg, large: 1200px and up */
@media (min-width: 1200px) {
  /* Styles for large screens and up */
  #pirate-z {
    bottom: -36em;
    right: -76em;
  }
}
