.mask {
  width: 100%;
  height: 100vh;
  position: relative;
}

.heroImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.mask::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.3;
}

.hero {
  height: 100%;
  width: 100%;
}

.maskImgContent {
  position: absolute;
  top: 50%;
  left: 0;
  background: radial-gradient(ellipse 100% 80px, var(--tan) 5%, transparent);
  z-index: 0;
  height: 30%;
  width: 100%;
}

.imgContent {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 1;
}

.hero .heroImgH1 {
  display: flex;
}

.hero .imgContent h1 {
  flex-direction: row;
  white-space: nowrap;
  font-size: 2.5rem;
  padding: 0.6rem 0 1.5rem;
}

.imgContent .btn {
  margin: 1rem 0.2rem;
}

@media screen and (max-width: 480px) {
  .hero .heroImgH1 {
    display: flex;
    flex-direction: column;
  }

  .hero .imgContent h1 {
    flex-direction: column;
    font-size: 2rem;
    padding: 0.6rem 0 0.7rem;
  }

  .heroImg {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }

  .mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:
        /* radial-gradient(
        ellipse closest-side at 50% 40px,
        var(--tan) 10%,
        black
      ), */ radial-gradient(
      ellipse at center 30px 110px,
      var(--tan) 10%,
      black
    );
    opacity: 0.9;
  }

  .hero {
    height: 50%;
    width: 100%;
  }

  .hero .imgContent {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    height: 40%;
    text-align: center;
  }

  .heroBtns {
    margin-top: 2rem;
  }
}
