.heroImg {
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.hero {
  height: 50vh;
  width: 100vw;
}

.imgContent {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65vh;
  left: 50%;
  text-align: center;
  opacity: 1;
}

.hero .heroImgH1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100vw;
}

.h1 {
  flex-direction: row;
  white-space: nowrap;
  font-size: 2.5rem !important;
  padding: 0.6rem 0 1.5rem;
  font-weight: 800;
}

.btn {
  /* Sets button padding on top and bottom to 12 pixels.
  Sets button padding on right and left to 32 pixels.
  Values are listed in order from left to right as:
    Top    |    Right   |    Bottom    |    Left
  If left is omitted, it is the same as right.
  If bottom is omitted it is the same as top.
  If right is omitted it is the same as top.
  Neither 4 values may be a negative value. */
  padding: 12px 32px;
  /* Sets the size of the font in buttons to 1rem.
  Changing the font size also updates the sizes of the
  font size-relative <length> units, such as em */
  font-size: 1rem;
  /* Specifies how to capitalize an element's text.
  It can be used to make text appear in all-uppercase
  or all-lowercase, or with each word capitalized. */
  text-transform: uppercase;
  /* Sets background color of button to the blue variable */
  background: var(--pink);
  /* Sets font color of button to the black variable */
  color: var(--black);
  /* Sets a button's border values to a width of
  1 pixel, style of solid, and color to salmon.
  Values are listed in order from left to right as:
   border-width  |  border-style  |  border-color */
  border: 1px solid var(--salmon);
  /* Sets a button's weight (or boldness) of the font
  The weights available depend on the font-family */
  font-weight: 600;
  /* Sets the mouse cursor (if any) to show when the
  mouse pointer is over a button. The option of Pointer
  is a cursor that indicates a link. It is typically an
  image of a pointing hand. */
  cursor: pointer;
  box-shadow: 5px 5px 10px 1px rgba(16, 16, 16, 0.05);
}

.btn-technologies {
  /* Sets background color of contact button to transparent.
  Transparent is a special keyword value for 0 opacity */
  background: transparent;
  color: var(--black);
}

/* Hover triggers when the user hovers over a button with
a pointing device, but does not necessarily activate it. */
.btn:hover {
  /* Sets background color of button when it's hovered
  over with a cursor to the lightBlue variable at an opacity of 20%*/
  background-color: rgba(var(--blue), 0.9);
  /* Sets font color of button when it's hovered over
  with a cursor to the black variable */
  color: var(--black);
  /* Sets the length of time a transition animation
  should take to complete of a button when it's hovered
  over with a cursor. Transition values are listed in
  order from left to right as:
   property name | duration | easing function | delay */
  transition: 0.3s;
}
/* Hover triggers when the user hovers over a button with
a pointing device, but does not necessarily activate it. */
.btn-technologies:hover {
  /* Sets background color of button when it's hovered
  over with a cursor to the lightBlue variable at an opacity of 20%*/
  background-color: var(--pink);
  /* Sets font color of button when it's hovered over
  with a cursor to the black variable */
  color: var(--black);
  /* Sets the length of time a transition animation
  should take to complete of a button when it's hovered
  over with a cursor. Transition values are listed in
  order from left to right as:
   property name | duration | easing function | delay */
  transition: 0.5s;
}

.imgContent .btn {
  margin: 1rem 0.2rem;
}

.heroBtns {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  top: 1vh;
}

/* Media Query */
@media screen and (max-width: 768px) {
  .heroImg {
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }

  .mask::after {
    display: none;
  }

  .imgContent {
    position: absolute;
    text-align: center;
    opacity: 1;
    background: radial-gradient(var(--tan) 20%, transparent 80%);
  }

  .hero .imgContent h1 {
    flex-direction: column;
    font-size: 2.5rem;
    line-height: 0.5rem;
    padding: 0.6rem 0 1.5rem;
    align-content: center;
  }

  .imgContent .btn {
    margin: 1rem 0.2rem;
  }

  .heroBtns {
    position: relative;
    top: -1vh;
  }

  /* Hover triggers when the user hovers over a button with
a pointing device, but does not necessarily activate it. */
  .btn:hover {
    /* Sets background color of button when it's hovered
  over with a cursor to the lightBlue variable at an opacity of 20%*/
    background-color: rgba(var(--blue), 0.9);
    /* Sets font color of button when it's hovered over
  with a cursor to the black variable */
    color: var(--black);
    /* Sets the length of time a transition animation
  should take to complete of a button when it's hovered
  over with a cursor. Transition values are listed in
  order from left to right as:
   property name | duration | easing function | delay */
    transition: 0.3s;
  }
  /* Hover triggers when the user hovers over a button with
a pointing device, but does not necessarily activate it. */
  .btn-technologies:hover {
    /* Sets background color of button when it's hovered
  over with a cursor to the lightBlue variable at an opacity of 20%*/
    background-color: var(--pink);
    /* Sets font color of button when it's hovered over
  with a cursor to the black variable */
    color: var(--black);
    /* Sets the length of time a transition animation
  should take to complete of a button when it's hovered
  over with a cursor. Transition values are listed in
  order from left to right as:
   property name | duration | easing function | delay */
    transition: 0.5s;
  }
}

/* iPads and Tablets */
@media screen and (max-width: 671px) {
  .h1 {
    font-size: 1.5rem !important;
  }
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  .h1 {
    font-size: 1rem !important;
  }
}
