#projects-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0; /* Remove gaps between images */
}

.image-item {
  height: 300px !important;
  width: 300px !important;
  perspective: 1000px; /* Perspective for the flip effect */
  animation: cascade 0.5s ease-in-out forwards;
}
@keyframes cascade {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.image-item:nth-child(odd) {
  animation-delay: 0.1s; /* Adjust delay as needed */
}
.image-item:nth-child(even) {
  animation-delay: 0.2s; /* Adjust delay as needed */
}
.image-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.image-item:hover .image-inner {
  transform: rotateY(180deg);
}

.image-front,
.image-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.image-front {
  background-size: cover;
  background-position: center;
}

.image-back {
  background: #fff;
  color: #000;
  transform: rotateY(180deg);
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.image-back h6,
.image-back p {
  margin: 0;
  padding: 10px 0;
}

.image-back a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #007bff;
}

#expanded-project {
  position: fixed;
  top: 0;
  right: -100%; /* Start off-screen */
  width: 300px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s;
  z-index: 1000;
}

#expanded-project.show {
  right: 0; /* Slide in on show */
}

#expanded-project #inner-box {
  padding: 20px;
}

#expanded-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#project-a-cont {
  display: flex;
  justify-content: space-between;
}

.project-a {
  text-decoration: none;
  color: #007bff;
  margin: 10px 0;
}
