/*       Global CSS styling       */

/* Imports the League Spartan font from Google */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* Imports the Open Sans font from Google */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* ****************************** */
/*       Universal selector       */
/* ****************************** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kaushan Script", cursive !important;
}

/* ****************************** */
/*        Color selectors         */
/* ****************************** */

:root {
  --tan: #ffdea8;
  --brown: #594b39;
  --dark-tan: #d9b991;
  --white: #f2f2f2;
  --black: #0d0d0d;
}

/* ****************************** */
/*       Element selectors        */
/* ****************************** */

body {
  margin-bottom: 100px;
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-y: scroll;
  display: flex;
  animation: slideDown 2s ease forwards;
}
img {
  width: 30%;
}
@keyframes slideDown {
  from {
    background-position: 0% 100%; /* Start the animation from top */
  }
  to {
    background-position: 0% 0%; /* End the animation at the top of the page */
  }
}
a {
  font-family: "Kaushan Script", cursive !important;
  text-decoration: none;
}

h1,
h2,
h4 {
  text-decoration: none;
}

h3 {
  font-size: 1.1rem;
}

ul {
  list-style-type: none;
}
p {
  font-family: "Open Sans", Courier, monospace !important;
  text-indent: 8%;
}

/* ****************************** */
/*        Class selectors         */
/* ****************************** */
.hide {
  display: none;
}
.show {
  display: block;
}
.nav-items {
  display: flex;
  flex-direction: column !important;
}
/* ****************************** */
/*          ID selectors          */
/* ****************************** */
#name {
  background-color: var(--tan);
  box-shadow: -10px 5px var(--brown);
  margin: 10% 0 0 10%;
  padding: 2%;
  width: 35vw;
  display: flex;
}
#name > * {
  margin-left: 5%;
  margin-right: 5%;
}
#vr {
  border-left: 2px solid var(--brown);
}
#subtitle {
  display: flex;
  align-items: center;
}
#totally-not-a-class {
  position: absolute;
}
/* ****************************** */
/*         Media Queries          */
/* ****************************** */

/* ------------------       Up to screen size 600px (Mobile Devices)       ------------------ */
@media only screen and (max-width: 600px) {
  body {
    background-size: 100% 100%;
  }
  .subtitles {
    display: none;
  }
}
/* ------------------       At least screen size 600px (Tablet Devices)       ------------------ */
@media only screen and (min-width: 500px) {
}
/* ------------------       At least screen size 600px (Tablet Devices)       ------------------ */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.75rem;
  }
  body {
    background-size: auto;
  }
}
/* ------------------       At least screen size 992px (Desktop Devices)       ------------------ */
@media only screen and (min-width: 900px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
  body {
    background-image: url("../images/background-h.svg");
  }
}
/* ------------------       At least screen size 992px (Desktop Devices)       ------------------ */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}
/* ------------------       Up to screen size 992px (Large Desktop Devices)       ------------------ */
@media only screen and (min-width: 1200px) {
}
