/*       Global CSS styling       */

/* Imports the League Spartan font from Google */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* Imports the Open Sans font from Google */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* ****************************** */
/*       Universal selector       */
/* ****************************** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kaushan Script", cursive !important;
}

/* ****************************** */
/*        Color selectors         */
/* ****************************** */

:root {
  --tan: #f2dbae;
  --brown: #594b39;
  --dark-tan: #d9b991;
  --white: #f2f2f2;
  --black: #0d0d0d;
}

/* ****************************** */
/*       Element selectors        */
/* ****************************** */

body {
  background: black;
  margin-bottom: 100px;
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-y: scroll;
  display: flex;
  animation: slideDown 1.5s ease forwards;
}
@keyframes slideDown {
  from {
    background-position: 0% 200%; /* Start the animation from top */
    height: 0%;
  }
  to {
    background-position: 0% 0%; /* End the animation at the top of the page */
    height: 100%;
  }
}
a {
  font-family: "Kaushan Script", cursive !important;
  text-decoration: none;
}

h1,
h2,
h4 {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
p {
  font-family: "Open Sans", Courier, monospace !important;
  text-indent: 8%;
}

/* ****************************** */
/*        Class selectors         */
/* ****************************** */

/* ****************************** */
/*          ID selectors          */
/* ****************************** */
#name {
  background-color: var(--tan);
  box-shadow: -10px 5px var(--brown);
  margin: 20% 0 0 20%;
  padding: 5%;
  width: 35vw;
}
/* ****************************** */
/*         Media Queries          */
/* ****************************** */

/* ------------------       Up to screen size 600px (Mobile Devices)       ------------------ */
@media only screen and (max-width: 600px) {
}
/* ------------------       At least screen size 600px (Tablet Devices)       ------------------ */
@media only screen and (min-width: 600px) {
}
/* ------------------       At least screen size 992px (Desktop Devices)       ------------------ */
@media only screen and (min-width: 992px) {
}
/* ------------------       Up to screen size 992px (Large Desktop Devices)       ------------------ */
@media only screen and (min-width: 1200px) {
}
