/*       Global CSS styling       */

/* Imports the League Spartan font from Google */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* Imports the Open Sans font from Google */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* ****************************** */
/*       Universal selector       */
/* ****************************** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kaushan Script", cursive !important;
}

/* ****************************** */
/*        Color selectors         */
/* ****************************** */

:root {
  --red: #f23847;
  --pink: #d95f8c;
  --blue: #adb6d7;
  --lightBlue: #dfe2f2;
  --black: #010101;
  --salmon: #d97777;
  --tan: #f8f5f0;
}

/* ****************************** */
/*       Element selectors        */
/* ****************************** */

body {
  background: black;
  margin-bottom: 100px;
}
a {
  font-family: "Kaushan Script", cursive !important;
  text-decoration: none;
}
h1,
h2,
h4 {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
p {
  font-family: "Open Sans", Courier, monospace !important;
  text-indent: 8%;
}

/* ****************************** */
/*        Class selectors         */
/* ****************************** */

/* ****************************** */
/*          ID selectors          */
/* ****************************** */

/* ****************************** */
/*         Media Queries          */
/* ****************************** */

/* ------------------       Up to screen size 600px (Mobile Devices)       ------------------ */
@media only screen and (max-width: 600px) {
}
/* ------------------       At least screen size 600px (Tablet Devices)       ------------------ */
@media only screen and (min-width: 600px) {
}
/* ------------------       At least screen size 992px (Desktop Devices)       ------------------ */
@media only screen and (min-width: 992px) {
}
/* ------------------       Up to screen size 992px (Large Desktop Devices)       ------------------ */
@media only screen and (min-width: 1200px) {
}
