#tech-cont {
  z-index: 5;
  background-color: var(--tan);
  box-shadow: -10px 5px var(--brown);
  margin-left: 10%;
  padding: 2%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.commpass-title {
  margin-top: 11%;
}

/* ------------------       At least screen size 600px (Tablet Devices)       ------------------ */
@media only screen and (max-width: 600px) {
  #tech-cont {
    margin-top: 10% !important;
  }
}
/* ------------------       At least screen size 600px (Tablet Devices)       ------------------ */
@media only screen and (min-width: 600px) {
  /* .about-sect {
      flex-direction: column !important;
    } */
  #tech-cont {
    margin-top: 5% !important;
  }
}
