.nav {
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
  background-image: url("../../assets/images/navbar.png");
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  align-items: center;
  z-index: 10000 !important;
  position: relative;
  flex-wrap: nowrap;
}
#name {
  font-size: 2rem;
}
#roll {
  font-family: "Kaushan Script", cursive !important;
}
#left-nav {
  display: flex;
}
#right-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.25rem !important;
  width: 60%;
}
.nav-items {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#nav-content {
  flex-direction: row !important;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
a {
  color: black;
}

.flexbx-turn-on {
  display: flex;
}

.nameZindex {
  display: flex;
  align-items: center;
  z-index: 5;
  white-space: nowrap;
}

.nav-solid {
  background-color: var(--tan);
  transition: 0.5s;
}

.nav-right {
  display: flex;
  padding: 0 1rem;
}

.nav-right li {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.nav-right li a {
  display: flex;
  font-size: 1.2rem;
  align-content: center;
  font-weight: 500;
  z-index: 5;
}

.hamburger {
  display: none;
  align-items: center;
  padding: 0 1rem;
}

img.reactLogo {
  max-height: 1.5rem;
  align-items: center;
  z-index: 5;
}

#die {
  margin-left: 20px;
  align-items: center;
  flex-direction: row !important;
  font-family: "Kaushan Script", cursive !important;
}
#roll {
  margin-left: 5px;
  font-family: "Kaushan Script", cursive !important;
}

.landing-page {
  background-color: #f0f0f0;
  overflow: hidden;
}

.background {
  position: relative;
}

.background-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin-top: -20vh !important;
  z-index: 100 !important;
}

.die {
  margin-right: 10px;
}

#logo {
  width: 30%;
}
/* ****************************** */
/*         Media Queries          */
/* ****************************** */

/* Laptop */

@media screen and (max-width: 1040px) {
}

/* Mobile devices */

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  .nav {
    width: 100vw;
  }

  .hamburger {
    display: initial;
    z-index: 4;
  }

  .nav-right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(248, 245, 240, 0.9);
    position: absolute;
    top: -100%;
    left: 0;
    z-index: -3;
    transition: 0.3s;
  }

  .nav-right li {
    padding: 1rem 0;
  }

  .nav-right li a {
    font-size: 2rem;
  }

  .nav-right.active {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    background: rgba(var(--tan) 0.9);
    position: absolute;
    top: -250%;
    left: 0;
    z-index: -3;
    transition: 0.3s;
  }

  .nav-right.active li {
    padding: 5% 0 0;
  }
}
