.nav {
  display: flex;
  width: 100vw;
  height: 90px;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 1rem;
  position: fixed;
}

.nav::after {
  content: "";
  width: 100vw;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse 100% 52px, var(--tan) 5%, transparent);
}

.nameZindex {
  display: flex;
  align-items: center;
  z-index: 5;
  white-space: nowrap;
}

.nav-solid {
  background-color: var(--tan);
  transition: 0.5s;
}

.nav-right {
  display: flex;
  padding: 0 1rem;
}

.nav-right li {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.nav-right li a {
  display: flex;
  font-size: 1.2rem;
  align-content: center;
  font-weight: 500;
  z-index: 5;
}

.hamburger {
  display: none;
  align-items: center;
  padding: 0 1rem;
}

img.reactLogo {
  max-height: 1.5rem;
  align-items: center;
  z-index: 5;
}

#die {
  margin-left: 20px;
  align-items: center;
  flex-direction: row !important;
}
#roll {
  margin-left: 5px;
}
/* ****************************** */
/*         Media Queries          */
/* ****************************** */

/* Laptop */

@media screen and (max-width: 1040px) {
}

/* Mobile devices */

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  .nav {
    width: 100vw;
  }

  .hamburger {
    display: initial;
    z-index: 4;
  }

  .nav-right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(248, 245, 240, 0.9);
    position: absolute;
    top: -100%;
    left: 0;
    z-index: -3;
    transition: 0.3s;
  }

  .nav-right li {
    padding: 1rem 0;
  }

  .nav-right li a {
    font-size: 2rem;
  }

  .nav-right.active {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    background: rgba(var(--tan) 0.9);
    position: absolute;
    top: -250%;
    left: 0;
    z-index: -3;
    transition: 0.3s;
  }

  .nav-right.active li {
    padding: 5% 0 0;
  }
}
