.flexbox-turn-on {
  display: flex;
}
.landing-icons {
  width: 40%;
  color: var(--icons);
}
.ind-items {
  display: flex;
}

#building {
  position: relative;
}
#knight {
  position: relative;
}
#dragon {
  position: relative;
}
#icons {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 100vw;
}

/* ************* ANIMATIONS ***************** */
.jump {
  animation: jump 4s infinite alternate !important;
}
.wiggle {
  animation: wiggle 2s infinite alternate !important;
}

.grow {
  animation: grow 2s ease forwards;
}

.spin {
  animation: spin 2s linear infinite;
}

.pulse {
  animation: pulse 1.5s infinite;
}

.fade {
  animation: fade 1s infinite;
}

.swing {
  animation: swing 1s ease-in-out infinite;
}

.bounce {
  animation: bounce 1s ease infinite;
}

.flip {
  animation: flip 2s linear infinite;
}

.shrink-grow {
  animation: shrink-grow 1.5s ease-in-out infinite;
}

.blink {
  animation: blink 1s step-start infinite;
}

.wobble {
  animation: wobble 1s ease-in-out infinite;
}

.grow-shrink {
  animation: grow-shrink 2s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes shrink-grow {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

@keyframes wobble {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes grow-shrink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes grow {
  from {
    width: 1px;
  }
  to {
    width: 40%;
  }
}
/* ****************************** */
/*         Media Queries          */
/* ****************************** */

/* ------------------       Up to screen size 600px (Mobile Devices)       ------------------ */
@media only screen and (max-width: 450px) {
}
/* ------------------       Up to screen size 600px (Mobile Devices)       ------------------ */
@media only screen and (min-width: 451px) {
}
/* ------------------       At least screen size 600px (Tablet Devices)       ------------------ */
@media only screen and (min-width: 600px) {
}
/* ------------------       At least screen size 992px (Desktop Devices)       ------------------ */
@media only screen and (min-width: 900px) {
}
/* ------------------       At least screen size 992px (Desktop Devices)       ------------------ */
@media only screen and (min-width: 992px) {
}
/* ------------------       Up to screen size 992px (Large Desktop Devices)       ------------------ */
@media only screen and (min-width: 1200px) {
  #dragon {
  }
  #knight {
  }
  #building {
  }
  .landing-icons {
  }
}
