.footer {
  display: flex;
  flex-direction: row;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 1rem;
  background-image: url("../../assets/images/navbar.png");
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  align-items: center;
  z-index: 10000 !important;
  position: relative;
  margin-top: -10%;
  justify-content: center;
}

#footer-ul {
  flex-direction: row !important;
  flex-wrap: nowrap;
  width: 80%;
  justify-content: space-around;
}
#footer-ul > * {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}
#location {
  display: flex;
  flex-wrap: nowrap !important;
}
.footerContainer {
  display: flex;
  height: auto;
  width: 100vw;
  justify-content: space-evenly;
}
.leftFooter {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  width: 30vw;
}

.flexbx-turn-on {
  display: flex;
}

.leftFooter p {
  line-height: 1.5rem;
}

.rightFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 30vw;
}

.rightFooter p {
  margin-top: 1rem;
  line-height: 1.5rem;
}
.socialIcons {
  margin-top: 1rem;
}

.location {
  display: flex;
  align-items: center;
}

.phone {
  display: flex;
  align-items: center;
}

.email {
  display: flex;
  align-items: center;
}

#footer-body1 {
  font-size: 0.8rem;
}

/* ****************************** */
/*         Media Queries          */
/* ****************************** */

/* Laptop */
@media screen and (max-width: 1040px) {
}

/* iPads and Tablets */
@media screen and (max-width: 768px) {
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  .footerContainer {
    flex-direction: column;
  }
  .rightFooter {
    width: 100vw;
  }
  .leftFooter {
    width: 100vw;
  }
  #footer-body1 {
    display: hidden;
  }
}
