#ship-container {
  position: relative;
  width: 10rem !important;
  height: 10rem !important;
  background-color: rgba(rgb(180, 54, 54), green, blue, alpha);
}

.ship {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#whole-ship {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap; /* <-- THIS FIXES IT */
}
