/* ****************************** */
/*       Universal selector       */
/* ****************************** */

* {
  box-sizing: border-box;
}

/* ****************************** */
/*        Color selectors         */
/* ****************************** */

:root {
--white: #64B0FF;
--darkGreen: #034001;
--lightGreen: #ABD904;
--black: #010101;
--orange: #C84C0C;
--white: #FFFFFF
}

/* ****************************** */
/*       Element selectors        */
/* ****************************** */

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

main {
  flex: 1;
  padding: 2% 4%;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

/* ****************************** */
/*        Class selectors         */
/* ****************************** */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ****************************** */
/*          ID selectors          */
/* ****************************** */

/* ****************************** */
/* Formatting for media inquiries */
/* ****************************** */

/* Laptop */
@media screen and (max-width: 1024px) {

}

/* iPads and Tablets */
@media screen and (max-width: 768px) {

}

/* Mobile devices */
@media screen and (max-width: 480px) {

}