/* ****************************** */
/*       Universal selector       */
/* ****************************** */

* {
  box-sizing: border-box;
}

/* ****************************** */
/*        Color selectors         */
/* ****************************** */

:root {
--red: #F23847;
--pink: #D95f8C;
--blue: #ADB6D7;
--lightBlue: #DFE2F2;
--black: #010101;
--salmon: #D97777;
--tan: #F8F5F0;
}

/* ****************************** */
/*       Element selectors        */
/* ****************************** */

body {
  margin: 0;
  /* font-family will be League Spartan from google */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ****************************** */
/*        Class selectors         */
/* ****************************** */

/* ****************************** */
/*          ID selectors          */
/* ****************************** */

/* ****************************** */
/* Formatting for media inquiries */
/* ****************************** */

/* Laptop */
@media screen and (max-width: 1024px) {

}

/* iPads and Tablets */
@media screen and (max-width: 768px) {

}

/* Mobile devices */
@media screen and (max-width: 480px) {

}