/*       Global CSS styling       */

/* Imports the League Spartan font from Google */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ****************************** */
/*       Universal selector       */
/* ****************************** */

* {
  /* Sets global box sizing to border box.
  This sets how the total width and height of an
  element is calculated. Border-box tells the browser
  to account for any border and padding in the values
  you specify for an element's width and height. If you
  set an element's width to 100 pixels, that 100 pixels
  will include any border or padding you added, and the
  content box will shrink to absorb that extra width. */
  box-sizing: border-box;
  /* Sets global margin to 0 on all sides.
  The margin area, bounded by the margin edge, extends
  the border area to include an empty area used to
  separate the element from its neighbors. */
  margin: 0;
  /* Sets global padding to 0 on all sides.
  Values are listed in order from left to right as:
    Top    |    Right   |    Bottom    |    Left
  If left is omitted, it is the same as right.
  If bottom is omitted it is the same as top.
  If right is omitted it is the same as top.
  Neither 4 values may be a negative value. */
  padding: 0;
  /* Sets global font-family to League Spartan */
  font-family: "League Spartan", sans-serif;
}

/* ****************************** */
/*        Color selectors         */
/* ****************************** */

/* Sets variables to call colors from color palette */
/* For example, var(--red) would be used for #F23847 */
:root {
  --red: #f23847;
  --pink: #d95f8c;
  --blue: #adb6d7;
  --lightBlue: #dfe2f2;
  --black: #010101;
  --salmon: #d97777;
  --tan: #f8f5f0;
}

/* ****************************** */
/*       Element selectors        */
/* ****************************** */

body {
  /* Sets background color of body to the tan variable */
  background: var(--tan);
}

h1,
h4,
p,
a {
  /* Sets font color of h1, h4, p, and a to the salmon variable */
  color: var(--salmon);
  /* Removes the underline from h1, h4, p, and a */
  text-decoration: none;
}

ul {
  /* Removes the disc icon from unorganized list in Navbar */
  list-style-type: none;
}

/* ****************************** */
/*        Class selectors         */
/* ****************************** */

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.content-body {
  margin-top: 5%;
  margin-left: 5%;
}

.cardContainer .MuiPaper-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px !important;
  max-height: 600px !important;
  margin-top: 5%;
  margin-bottom: 5%;
}

.list-box {
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 40vh;
  max-height: 40vh;
  overflow: hidden;
  overflow-y: scroll;
}

/* h1.glow h4.glow p.glow a.glow {
  text-shadow: 2px 2px 3px rgba(86, 92, 116, 0.9);
} */

/* ****************************** */
/*          ID selectors          */
/* ****************************** */

#content-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

#about-pic {
  height: 400px;
  border-radius: 20px;
  margin: 2%;
}

#about-body1 {
  align-self: flex-start;
  margin: 2%;
  text-indent: 2rem;
}

#tab-box {
  width: 100%;
}

#technology-content {
  min-height: 80vh;
  max-height: 80vh;
  margin-bottom: 0px;
}

#landing-body1 {
  margin: 10%;
}
#panda-drawing {
  position: relative;
  width: 300px;
  align-items: center;
  z-index: 7;
}
#landing-box {
  display: flex;
  flex-direction: column;
  position: relative;
}
#landing-h4 {
  text-align: center;
  margin-top: 10%;
}
#landing-text {
  position: relative;
  border: 1px solid var(--red);
  box-shadow: 5px 5px 10px 1px rgba(16, 16, 16, 0.05);
  top: -58px;
  width: 80vw;
}
#landing-content {
  height: 160vh;
  justify-content: center;
  margin: auto 0px;
}

#project-content {
  display: flex;
  height: 100vh;
  position: absolute;
  justify-content: center;
  flex-wrap: wrap;
}
#projectCardContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  top: 10vh;
  height: 160vh;
  justify-items: center;
}
#whole-page {
  display: flex;
  flex-wrap: wrap;
}
.text-adventure {
  overflow: hidden;
  margin: 0 auto;
  /* white-space: nowrap; */
  border-right: 0.15em solid #d97777;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
}
/* ****************************** */
/*         Media Queries          */
/* ****************************** */

/* Laptop */
@media screen and (max-width: 1007px) {
  #projectCardContainer {
    height: 250vh;
  }
}

/* iPads and Tablets */
@media screen and (max-width: 671px) {
  #projectCardContainer {
    overflow: scroll;
  }
  #content-body {
    flex-direction: column;
  }
  #content-container {
    height: auto;
  }
}

/* Mobile devices */
@media screen and (max-width: 480px) {
}

.DialogBox {
  background-color: #e2b27e;
  border: solid;
  padding: 15px;
  position: relative;
}

.dialogTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.dialogFooter {
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 15px;
  text-align: end;
}
