/*       Global CSS styling       */

/* Imports the League Spartan font from Google */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ****************************** */
/*       Universal selector       */
/* ****************************** */

* {
  box-sizing: border-box;

  margin: 0;

  padding: 0;
  font-family: "League Spartan", sans-serif;
}

/* ****************************** */
/*        Color selectors         */
/* ****************************** */

:root {
  --red: #f23847;
  --pink: #d95f8c;
  --blue: #adb6d7;
  --lightBlue: #dfe2f2;
  --black: #010101;
  --salmon: #d97777;
  --tan: #f8f5f0;
}

/* ****************************** */
/*       Element selectors        */
/* ****************************** */

body {
  background: var(--tan);
  margin-bottom: 100px;
  clear: both;
}

h1,
h4,
p,
a {
  color: var(--salmon);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ****************************** */
/*        Class selectors         */
/* ****************************** */

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.content-body {
  margin-top: 5%;
  margin-left: 5%;
}

.cardContainer .MuiPaper-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px !important;
  max-height: 600px !important;
  margin-top: 5%;
  margin-bottom: 5%;
}

.list-box {
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 40vh;
  max-height: 40vh;
  overflow: hidden;
  overflow-y: scroll;
}

/* ****************************** */
/*          ID selectors          */
/* ****************************** */

#content-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

#content-container {
  height: auto;
}

#about-pic {
  margin-top: 50px !important;
  height: 400px;
  border-radius: 20px;
  margin: 2%;
}

#about-body1 {
  align-self: flex-start;
  margin: 2%;
  margin-top: 50px;
  text-indent: 2rem;
}

#tab-box {
  width: 100%;
}

#technology-content {
  min-height: 80vh;
  max-height: 80vh;
  margin-bottom: 0px;
}

#landing-body1 {
  margin: 10%;
}
#panda-drawing {
  position: relative;
  width: 300px;
  align-items: center;
  z-index: 7;
}
#landing-box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}
#landing-h4 {
  text-align: center;
  margin-top: 10%;
}
#landing-text {
  position: relative;
  border: 1px solid var(--red);
  box-shadow: 5px 5px 10px 1px rgba(16, 16, 16, 0.05);
  top: -58px;
  width: 80vw;
}
#landing-content {
  height: 160vh;
  justify-content: center;
  margin: auto 0px;
}

#project-content {
  display: flex;
  height: 100vh;
  position: absolute;
  justify-content: center;
  flex-wrap: wrap;
}
#projectCardContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  top: 10vh;
  height: 160vh;
  justify-items: center;
}
#whole-page {
  display: flex;
  flex-wrap: wrap;
}

#d20-content {
  margin: 20 !important;
}
.text-adventure {
  margin-bottom: 300px;
  /* white-space: nowrap; */
  border-right: 0.15em solid #d97777;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

#cs-traits-list {
  font-size: 2.5m !important;
  line-height: normal;
  text-align: center;
}

.flexbox-turn-on {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding: 0 !important;
  flex-wrap: wrap;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
}

/* ****************************** */
/*         Media Queries          */
/* ****************************** */

/* Laptop */
@media screen and (max-width: 1007px) {
  #projectCardContainer {
    height: 250vh;
  }
}

/* iPads and Tablets */
@media screen and (max-width: 671px) {
  #projectCardContainer {
    overflow: scroll;
  }
  #content-body {
    flex-direction: column;
  }
  #appearance-trait {
    font-size: 0.5em !important;
  }
  #flex-fix {
    margin-bottom: 50px !important;
    height: auto;
  }
  #text-adventure {
    margin-top: 50px !important;
    margin-bottom: 5px !important;
  }

  #allies-container {
    height: 250px !important;
    width: 350px !important;
  }

  #allies-rolls {
    position: absolute !important;
    top: 250px !important;
  }

  #traits-rolls {
    top: 275px !important;
  }

  #allies-name {
    top: 36px !important;
  }

  #backstory-trait {
    font-size: 0.5em !important;
  }
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  .DialogBox {
    background-color: #e2b27e;
    border: solid;
    padding: 15px;
    position: relative;
  }

  .dialogTitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .dialogFooter {
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 15px;
    text-align: end;
  }

  #flex-fix {
    margin-bottom: 50px !important;
    height: auto;
  }
  #text-adventure {
    margin-top: 50px !important;
    margin-bottom: 5px !important;
  }

  #allies-container {
    height: 250px !important;
    width: 350px !important;
  }

  #allies-rolls {
    position: absolute !important;
    top: 250px !important;
  }

  #allies-name {
    top: 36px !important;
  }
}
